<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ipsam labore. Quo laborum obcaecati numquam beatae itaque dolorem consectetur architecto quibusdam fugiat, in ullam cupiditate, tenetur suscipit odio veniam ad.
    </p>
    <button>Click me!</button>
    <h3>sum 2 number 3 + 6</h3>
    <h4>
    <%= "hello my name is yug".toUpperCase() %></h4> //interpolation 
    <% const name = ["Yug","Utsav","Krishna"]
     %>
    <h4><%= name[0] %> and <%= name[1] %></h4>
</body>
</html>